#target{
    position:absolute;
    top:0px;
    left:0;
    right:0;
    bottom: 0px;
    overflow:hidden;
    font-size:30px;
    text-align:center;
    font-family:sans-serif;
}
#target>div{
    text-align: center;
    position: relative;
    padding-top:0px;
    animation-duration: 1700s;
    animation-name: autoscroll;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

#fundo{    
    margin-left: 15%;
    width: 70%;
    height: 200px;
    color: yellow;
    transform-origin:50% 100%;
    transform:perspective(300px) rotateX(20deg);
}
@keyframes autoscroll{
    to{
        margin-top:-50000px;
    }    
}