#target{
    position:absolute;
    top:0px;
    left:0;
    right:0;
    bottom: 0px;
    overflow:hidden;
    font-size:30px;
    text-align:center;
    font-family:sans-serif;
}
#target>div{
    text-align: center;
    position: relative;
    padding-top:0px;
    animation-duration: 1700s;
    animation-name: autoscroll;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

#fundo{    
    margin-left: 15%;
    width: 70%;
    height: 200px;
    color: yellow;
    transform-origin:50% 100%;
    transform:perspective(300px) rotateX(20deg);
}
@keyframes autoscroll{
    to{
        margin-top:-50000px;
    }    
}

#hero{
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

#xwing2 {
left: -500px;
}

#falcon{
    left: -300px;
    z-index: 2;
}

#tiefighter{
    left: -800px;
    z-index: 2;
}

#hero:hover #falcon{
    animation: voando 3s linear forwards;
}

#hero img{
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

#hero:hover #xwing2{
    animation: voando 4s linear forwards;
}

#hero:hover #tiefighter{
    animation: voando-tye 6s linear forwards;
    animation-delay: 1s;
}

@keyframes voando {
    to {
        margin-left: 4000px;
        scale: 5;
        filter: blur(20);
    }
}

@keyframes voando-tye {
    25%{
        margin-top: 200px;
    }
    50%{
        margin-top: 20px;
        scale: 2.5;
    }
    75%{
        margin-top: 200px;
    }
    100%{
        margin-top: 200px;
        margin-left: 4000px;
        scale: 3;
    }
}
